*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial;
    background: black;
}

header{
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 2px 0px rgba(255, 255, 255, 0.25);
    z-index: 2;
    background: black;
    width: 100%;
    height: 70px;
}

.logo{
    font-size: 40px;
    color: #2d2d81;
}

.navbar ul{
    display: flex;
    gap: 100px;
    list-style: none;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.navbar ul li a:hover{
    color: blue;
}

.login-btn{
    font-size: 16px;
    padding: 10px 30px;
    background-color: white;
    color: #2d2d81;
    border-radius: 30px;
    border: 3px solid #2d2d81;
    transition: 0.3s;
    text-decoration: none;
}

.login-btn:hover{
    color: white;
    background-color: #2d2d81;
}

/*

Main

 */

main{
    padding-top: 100px;
}

.container{
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.posts{
    width: 70%;
}

.profile{
    width: 20%;
    background: white;
    padding: 20px;
    position: sticky;
    top: 100px;
    border-radius: 20px;
}

.profile div{
    font-size: 18px;
}

.profile a{
    font-size: 16px;
    font-weight: bold;
    color: #2d2d81;
    text-decoration-line: none;
    display: block;
    margin-top: 10px;
}

.profile a:hover{
    text-decoration-line: underline;
}



.form-post{
    width: 100%;
    padding: 20px;
    background: white;
    border-radius: 20px;
}

.form-control{
    margin-bottom: 10px;
}

.form-input{
    outline: none;
    background: white;
    border-radius: 5px;
    padding: 5px;
    font-size: 18px;
    border: 2px solid #2d2d81;
}

.form-textarea{
    outline: none;
    background: white;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    border: 2px solid #2d2d81;
    width: 100%;
    resize: vertical;
}

.form-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-btn button{
    padding: 10px 15px;
    font-size: 14px;
    background: #2d2d81;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 15px;
    transition: 0.3s;
}

.form-btn button:hover{
    background: #3dc501;
}

.post{
    width: 100%;
    margin-top: 30px;
}

.post-author{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.post-author:hover{
    text-decoration-line: underline;
}

.post-container{
    background: white;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

.post-images img{
    width: 30%;
}

.post-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-title__text{
    font-size: 24px;
    font-weight: bold;
}

.post-title__buttons{
    display: flex;
}

.post-title__buttons form button{
    font-size: 16px;
    background: none;
    border: none;
    outline: none;
    color: #2d2d81;
    margin-left: 10px;
    transition: 0.3s;
}

#edit:hover{
    color: green;
}

#delete:hover{
    color: red;
}

.post-text{
    font-size: 14px;
    margin-top: 20px;
}

.post-images{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.edit-container{
    background: white;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

.edit-title input{
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
}

.edit-text textarea{
    width: 100%;
    resize: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    margin-top: 20px;
}

.edit-images div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
}

.edit-images{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.edit-images div:hover{
    background: rgba(0, 0, 0, 0.25);
}

.edit-images img{
    width: 100px;
}

.edit-images a{
    text-decoration: none;
    background: white;
    padding: 5px 10px;
    color: red;
    border: 3px solid red;
    border-radius: 20px;
    margin-left: 10px;
    transition: 0.3s;
    font-weight: bold;
}

.edit-images a:hover{
    background: red;
    color: white;
}

.edit-container button{
    font-size: 18px;
    background: white;
    color: #3dc501;
    font-weight: bold;
    border: 2px solid #3dc501;
    padding: 10px 15px;
    border-radius: 20px;
    margin: 20px auto;
    display: block;
    transition: 0.3s;
}

.edit-container button{
    background: #3dc501;
    color: white;
}